@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

$text-font: 'Raleway', sans-serif;
$roboto-condensed-font: 'Roboto Condensed', sans-serif;
$roboto-font: 'Roboto', sans-serif;

$color-white: #FFF;
$text-color: #1D1F22;
$overlay-text-color: #8D8F9A;
$btn-color:#5ECE7B;
$color-green:#5ECE7B;
$border: #E5E5E5;
