@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

$text-color: #1D1F22;
$overlay-text-color: #8D8F9A;
$text-font: 'Raleway';
$background-color: #FFF;
