.category-page {
  padding-top: 45px;
  z-index: 5;
}

.category-title {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 25px;
  padding-left: 28px;
}
