@import '../../variables.scss';

.cart-item {
  position: relative;
  display: flex;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 24px 26px 23px;
  z-index: 5;

  .product-brand {
    margin-bottom: 15px;
  }

  .product-name {
    margin-bottom: 0;
  }

  .product-current-price {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 24px;
  }

  .attribute-type {
    margin-top: 0;
  }

  .attribute-btn {
    font-family: $source-sans-pro;
    margin-right: 8px;
  }
}

.cart-item-data,
.cart-item-photo {
  width: 50%;
  min-height: 288px;
}

.attribute-container {
  padding-top: 22px;
}

.cart-item-photo {
  display: flex;
  justify-content: flex-end;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 288px;
  margin-right: 23px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid $text-color;
    font-size: 32px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  span {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.icon-minus {
  height: .5em;
  fill: $text-color;
}
