.carousel {
  position: relative;
}

.carousel-window {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 288px;
}

.photo-carousel-container {
  position: absolute;
  display: flex;
  height: inherit;
  transition: 0.8s;
}

.image-container {
  min-width: 200px;
  max-width: 200px;
  height: inherit;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.photo-slider-buttons {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 56px;
  height: 24px;

  button {
    width: 24px;
    height: 24px;
    
    background-color: rgba(0, 0, 0, 0.73);
    background-repeat: no-repeat;
    background-position: center;
    transform: matrix(1, 0, 0, -1, 0, 0);

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .button-prev {
    background-image: url('../../../public/arrow-prev.png');
  }

  .button-next {
    background-image: url('../../../public/arrow-next.png');
  }
}
